body {
  margin: 0;
  font-family: var(--font-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-default);
  background-color: #46014e;
  }
  
  a {
  color: var(--color-primary);
  text-decoration: none;
  }
  
  a:hover {
  color: #00b6a1;
  text-decoration: none;
  }
  
  /* ------------------------------------------------------------
                      Header
  -------------------------------------------------------------*/
  
  Header {
      position: absolute;
      width: 100%;
      display: block;
      height: 40px;
      border: 2px;
      border-bottom-style: solid;
      border-color: #7c7c7c;
  }
  
  header ul{
          position: fixed;
          top: 0;
          width: 100%;
  }
  
  .indexIcon {
      position: absolute;
      left: 40px;
      margin: 12px 0px 10px 0px;
      padding-left: 0px;
      color: white;
  }
  
  .imgIndexIcon {
      position: absolute;
      margin: 10px 0px 10px 0px;
      width: 23px;
      height: 23px;
      left: 10px;
  }
  
  .buttonLogIn {
      position: absolute;
      right: 80px;
      border-radius: 12px;
      margin: 5px 0px 10px 0px;
      padding: 5px 10px;
  }
  
  .buttonSignUp {
      position: absolute;
      right: 5px;
      border-radius: 12px;
      margin: 5px 0px 10px 0px;
      padding: 5px 10px;
      -webkit-text-fill-color: rgb(255, 255, 255);
      background-color: #000000;
  }
  
  
  /* ------------------------------------------------------------
                      Main
  -------------------------------------------------------------*/
  
  /* ------------------------------------------------------------
                      left contents 
  -------------------------------------------------------------*/
  .contentLeftIndex {
      margin-top: 0px;
      position: absolute;
      display: block;
      top: 42px;
      left: 0px;
      color: rgb(126, 119, 187);
      border: 2px;
      height: 100%;
      border-right-style: solid;
      border-color: #7c7c7c;
      padding-right: 15px;
      overflow: auto;
  }
  
  .listDiscovery {
      list-style-type: none;
      list-style-position: inside;
      padding-left: 10px;
  }
  
  .listDiscovery li {
      padding-left: 10px;
      padding-top: 5px;
  }
  
  .listContribute {
      padding-left: 10px;
      padding-top: 10px;
      list-style-type: none;
      list-style-position: inside;
  }
  
  .listContribute li {
      padding-left: 10px;
      padding-top: 5px;
  }
  
  .listManage {
      padding-left: 10px;
      padding-top: 10px;
      list-style-type: none;
      list-style-position: inside;
  }
  
  .listManage li {
      padding-top: 5px;
      padding-left: 10px;
  }
  
  /* ------------------------------------------------------------
                      main tags
  -------------------------------------------------------------*/
  
  .mainTags {
      position: absolute;
      left: 164.094px;
  }
  
  .headerMain {
      color: white;
      margin: auto;
      text-align: center;
  }
  
  .buttonChooseTag {
      border-radius: 7px;
  }
  
  .headerTag {
      color: white;
  }
  
  
  #Tags {
      width: auto;
      height: auto;
  }
  
  #listTags {
      flex-wrap:wrap;
  }
  
  .buttonTag {
      font-size: large;
      border-radius: 12px;
      margin: 20px;
      background-color: #4c4c4c;
  }
  
  .avatarTag {
      position: static;
      display:grid;
      width: 30px;
      height: 30px;
      gap: 1rem;
      border-radius: 50%;
  }
  
  .titleTag {
      width: 200px;
      height: 100px;
      font-family: sans-serif;
      color:white;
  }
  
  .imageTag {
      width: 225px;
      height: 150px;
  }